<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                background-color:white;
            }
            h1 {
                text-align:center;
                padding: 20px;
                font-size:xx-large;
            }
            #content {
                width:800px;
                background-color: lightblue;
            }
        </style>
        <meta charset="utf-8"><title>%title%</title>
    </head>
    <body>
        <div id="content">
            <h1>%title%</h1>
            <ul>
                <li>发表时间：%create_time%</li>
                <li>总浏览量：%visit_count%</li>
                <li>共获得点赞：%praise_count%</li>
                <li>今日访问量：%visit_today%</li>
            </ul>
            <h3>%abstract%</h3>
            <div id="content">%content%</div>
            <img src="">
        </div>
    </body>
</html>